
/*  Header */
.header{
  height: var(--header-height);
  
  /* background-repeat: repeat-y; */
  /* position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20; */
}

.background_img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(https://kfcvietnam.com.vn/templates/images/bg.jpg);
  background-size: cover;
  z-index: -1;
}

.grid.wide.menu{
  background-color: var(--white-color);
}
.topbar_menu{
  width: 100%;
  padding: 18px 20px;
  height: var(--topbar-height);
}

.topbar_menu-item-logo {
  height: 50px;
}

.topbar_menu-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding: 6px 15px;
  list-style: none;
}

.topbar_menu-item-link{
  text-decoration: none;
  cursor: pointer;
}

.topbar_menu-right-list{
  display: flex;
  width: 208px;
  padding-left: 0;
  list-style: none;
  font-weight: 500;
}

.topbar_menu-language{
  position: relative;
  cursor: pointer;
}

.topbar_menu-language-separate::after{
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  border-right: 2px solid var(--black-color);
  right: -10px;
  top: 48%;
  transform: translateY(-50%);
}

.topbar_menu-language-vn{
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--primary-color);
  padding: 10px 15px;
}

.topbar_menu-language-list{
  padding-left: 0;
  list-style: none;
  width: 180px;
  position: absolute;
  margin-top: 14px;
  display: none;
}

.topbar_menu-language-item{
  border: 1px solid #ccc;
  width: 100%;
  padding: 6px 15px;
}

.topbar_menu-language-item.vn{
  background-color: var(--primary-color);
}

.topbar_menu-language-item-link.active{
  color: var(--white-color);
}

.topbar_menu-language-item-link{
  text-decoration: none;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black-color);
}

.topbar_menu-login{
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--black-color);
  margin-left: 30px;
  cursor: pointer;
}

.navbar_menu{
  width: 100%;
  height: calc(var(--header-height) - var(--topbar-height));
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1
}

.navbar_menu-list{
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navbar_menu-item-link, .navbar_menu-cart-text{
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--black-color);
  display: block;
  padding: 17px;
  margin-right: 1px;
}

.navbar_menu-item-link:hover{
  background-color: var(--black-color);
  color: var(--white-color);
}

.navbar_menu-item-link.active{
  background-color: var(--black-color);
  color: var(--white-color);
}

.navbar_menu-cart{
  position: relative;
  display: block;
  margin-right: 10px;
  border-radius: 4px;
}

.navbar_menu-cart-text{
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  padding: 10px 8px;
}

.navbar_menu-cart:hover .navbar_menu-cart-text{
  color: rgb(16, 182, 247);
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  min-width: 80vw;
  min-height: 65vh;
}

/* Hide the images by default */
.slideshow_container-sub {
  display: none;
  cursor: pointer;
  text-decoration: none;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  top: -60px;
  position: relative;
}

.active, .dot:hover {
  background-color: var(--primary-color);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
